.card {
    min-height: 90px;
    position: relative;
    width: 100%;
    background: linear-gradient(
        268.06deg,
        rgba(238, 0, 51, 0.5) -5.29%,
        rgba(105, 14, 66, 0.5) 67.91%,
        rgba(58, 24, 47, 0.5) 90.42%,
        rgba(27, 25, 38, 0.5) 110.71%
    );
    background-blend-mode: screen;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: auto;
    border-top: solid 2px rgba(255, 255, 255, 1);
    padding: 10px;
}
.on-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 4px 4px 8px;
    gap: 4px;
    width: 45px;
    height: 23px;
    background: #ff76ac;
    border-radius: 12px 0px 0px 12px;
}
.off-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 4px 4px 8px;
    gap: 4px;
    width: 47px;
    height: 23px;
    background: #251829;
    border-radius: 0px 12px 12px 0px;
}
#setting {
    display: none;
}
#setting:target {
    display: block;
}
.otp-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    gap: 12px;
    width: 220px;
    height: 37px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    outline: none;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.7em;
    text-transform: uppercase;
    color: #251829;
}
.otp-input::placeholder {
    color: #251829;
}
#confirm_subscribe,
#confirm_cancle,
#confirm-predict,
#confirm_prediction,
#congratulation,
#winner-list,
#winner-infomation {
    display: none;
}
#confirm_subscribe:target,
#confirm_cancle:target,
#confirm-predict:target,
#confirm_prediction:target,
#congratulation:target,
#winner-list:target,
#winner-infomation:target {
    display: block;
}
#confirm-predict:target #main-predict {
    display: none;
}

.btn-mission {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 10px;
    width: 100px;
    height: 37px;
    background: linear-gradient(97.02deg, #ceb9ff -12.9%, #d291ff 27.12%, #ef5fff 86.07%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #5b0e27;
}
.btn-monthly {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 10px;
    width: 218px;
    height: 37px;
    background: linear-gradient(91.69deg, #ff5f07 13.18%, #cc0e47 80.22%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    /* W */

    color: #ffdeeb;
}
.btn-mounthly-prize {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 4px;
    min-width: 100px;
    height: 37px;
    background: linear-gradient(97.76deg, #ff5f07 9.79%, rgba(255, 52, 139, 0) 86.78%);
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffdeeb;
    border: 1px solid #ffff;
}
.btn-submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 10px;
    width: 174px;
    height: 29px;
    background: linear-gradient(97.02deg, #f3da7f -12.9%, #e0b452 27.12%, #ffdba3 86.07%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #5b0e27;
}
.card-predict {
    background: linear-gradient(
        180.08deg,
        rgba(238, 0, 51, 0.7) 0.05%,
        rgba(105, 14, 66, 0.7) 63.07%,
        rgba(58, 24, 47, 0.7) 82.44%,
        rgba(27, 25, 38, 0.7) 99.91%
    );
    backdrop-filter: blur(5px);
    border-radius: 20px;
    max-width: 345px;
    width: 100%;
    height: 397px;
    margin: auto;
    border: 1px solid #ffff;
}
.card-mission {
    background: linear-gradient(
        180.08deg,
        rgba(238, 0, 51, 0.7) 0.05%,
        rgba(105, 14, 66, 0.7) 63.07%,
        rgba(58, 24, 47, 0.7) 82.44%,
        rgba(27, 25, 38, 0.7) 99.91%
    );
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
.card-monthly {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 1px solid #ffffff;
    background: rgba(255, 255, 255, 0.3);
}
.text-mission-1 {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
    text-transform: capitalize;
    background: linear-gradient(90deg, #4c5fff 2.8%, #f75fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.text-mission-2 {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #1a005f;
}
.btn_claim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 52px;
    height: 20px;
    background: linear-gradient(82.89deg, #ff5f08 5.39%, #ff5ff9 94.31%);
    border-radius: 6px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffdeeb;
}
.btn-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 8px;
    gap: 10px;

    width: 189px;
    height: 34px;

    /* Buttom 2 */

    background: linear-gradient(82.89deg, #ff5f08 5.39%, #ff5ff9 94.31%);
    border-radius: 20px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    /* W FFFFF */

    color: #ffffff;
}
.box-rank_mounthly {
    background: url(../assets/images/mounthly_box.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 90px;
    position: relative;
}
.box-rank {
    background: url(../assets/images/box-rank.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 90px;
    position: relative;
}
.circle {
    background: linear-gradient(
        180.08deg,
        rgba(39, 0, 20, 0.7) 0.05%,
        rgba(255, 96, 17, 0.7) 99.91%,
        rgba(255, 96, 18, 0.7) 99.91%
    );
    mix-blend-mode: normal;

    width: 70px;
    height: 70px;
    border-radius: 50%;
    transform: scale(0.8);
}
.rank_number {
    font-family: "UTM Alberta Heavy";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    transform: scale(0.8);
    margin-left: -8px;
    /* W FFFFF */

    color: #ffffff;
}
.btn-winerlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 85px;
    height: 16px;

    /* gold rad */

    background: linear-gradient(97.02deg, #f3da7f -12.9%, #e0b452 27.12%, #ffdba3 86.07%);
    border-radius: 20px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1a005f;
}
.title_winner_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 8px;

    width: 307px;
    height: 62px;

    /* Buttom 2 */

    background: linear-gradient(82.89deg, #ff5f08 5.39%, #ff5ff9 94.31%);
    border-radius: 12px;
}
.card_history_bg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px;
    gap: 12px;
    width: 100%;
    max-width: 312px;
    margin: auto;
    min-height: 300px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    border-radius: 24px;
    position: relative;
}
.card-content-history {
    /* position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%); */

    /* background: linear-gradient(
        180.08deg,
        rgba(238, 0, 51, 0.7) 0.05%,
        rgba(105, 14, 66, 0.7) 63.07%,
        rgba(58, 24, 47, 0.7) 82.44%,
        rgba(27, 25, 38, 0.7) 99.91%
    ); */

    padding: 28px 16px 20px;
    gap: 12px;
    width: 90%;
    margin: auto;
    min-height: 300px;
    background: url(../assets/images/Frame\ 198.png);
    background-repeat: no-repeat;
    background-size: cover;

    /* border-top: 1px solid rgba(255, 255, 255, 1);
    border-left: 1px solid rgba(255, 255, 255, 1);
    border-right: 1px solid rgba(255, 255, 255, 1); */
}
.text-calender {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}
.label_modal_winnerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px 12px 32px;
    gap: 48px;

    width: 280px;
    height: 39px;

    /* Buttom 1 */

    background: linear-gradient(90deg, #4c5fff 2.8%, #f75fff 100%);
    border-radius: 12px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: right;
    text-transform: capitalize;

    color: #ffffff;
}
.label_modal_winnerInfo1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    gap: 29px;

    width: 280px;
    height: 42px;

    background: rgba(255, 222, 235, 0.3);
    border-radius: 12px;
}
.text-congratulation {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    text-transform: uppercase;

    /* gold rad */

    background: linear-gradient(97.02deg, #f3da7f -12.9%, #e0b452 27.12%, #ffdba3 86.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.phone_account {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    /* gold rad */

    background: linear-gradient(97.02deg, #f3da7f -12.9%, #e0b452 27.12%, #ffdba3 86.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@keyframes move-left {
    0% {
        left: 10%;
    }
    100% {
        left: 45%;
    }
}

.animate-left {
    animation: move-left 1s ease-in-out;
    animation-fill-mode: forwards;
}
